mixin intro()
  section.intro(id="intro")
    .container
      .intro__text
        h1.title.title--h1.intro__title Эксклюзивная и нестандартная мебель для дома


      .intro__images
        .intro__images--left
          p.intro__paragraph Мы можем произвести любую мебель для вашего проекта и найти производственное решение любой задумки.
          +img("content", "michael-oxendine-unsplash-left", "png", 329, 493, "Пример")
        .intro__images--right
          a(href="#" class="intro__link link" onclick="openPopup(); return false;") Заказать проект
          +img("content", "spacejoy-unsplash-right", "png", 678, 879, "Пример")
