mixin projects()
  .projects
    .container
      h2.title.title--h2.projects__title Проекты
      .projects__images
        .projects__item
          +img("content", "project-1", "png", 445, 580, "Проект 1")
          .projects__item-label Тумба под телевизор
            +icon("icon-arrow-up-right", 12, 12)

        .projects__item
          +img("content", "project-2", "png", 445, 580, "Проект 2")
          .projects__item-label Кухонный гарнитур
            +icon("icon-arrow-up-right", 12, 12)

        .projects__item
          +img("content", "project-3", "png", 445, 580, "Проект 3")
          .projects__item-label Мебель в гостиной
            +icon("icon-arrow-up-right", 12, 12)

        .projects__item
          +img("content", "project-4", "png", 445, 580, "Проект 4")
          .projects__item-label Мебель в ванной
            +icon("icon-arrow-up-right", 12, 12)

        .projects__item
          +img("content", "project-5", "png", 445, 580, "Проект 5")
          .projects__item-label Мебель в спальне
            +icon("icon-arrow-up-right", 12, 12)

        .projects__item
          +img("content", "project-6", "png", 445, 580, "Проект 6")
          .projects__item-label Комоды
            +icon("icon-arrow-up-right", 12, 12)
