mixin stats()
  section.stats(id="stats")
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      h2.title.title--h2.stats__title
        span.stats__title-span.stats__title-span--desktop Более 5 лет создаем мебель для вашего комфорта
        span.stats__title-span.stats__title-span--mobile О компании
      .stats__wrapper
        .stats__text
          p.stats__paragraph Мы — команда профессионалов, которые могут произвести любую мебель для вашего проекта, а также найти производственное решение любой задумки.
          p.stats__paragraph Наша основная цель — реализовывать самые смелые задумки, и делать это качественно и аккуратно.
          p.stats__paragraph В качестве материалов мы используем натуральные — стекло, дерево, бетон, камень, металл и эпоксидную смолу.

        .stats__numbers
          .stats__item
            span.stats__number 1 год
            span.stats__label гарантии на всю продукцию
          .stats__item
            span.stats__number 300+
            span.stats__label выполненных проектов
          .stats__item
            span.stats__number 15 дней
            span.stats__label срок производства
