mixin workflow()
  .workflow
    .container
        .workflow__text
          h2.title.title--h2.workflow__title Как мы работаем

        .workflow__wrapper
          p.workflow__paragraph Алгоритм работы с нами для удобства и понимания проекта
          .workflow__list
            .workflow__item
              h3.title.title--h3.workflow__item-title Идея
              span.workflow__item-desc Клиент приходит к нам с идеей. Это может быть изображение/ эскиз или другой референс. А мы думаем над тем, как это реализовать, делаем технические чертежи и предлагаем решения по материалам.
            .workflow__item
              h3.title.title--h3.workflow__item-title Техническое задание
              span.workflow__item-desc Вместе с клиентом формулируем корректное ТЗ, которое включает в себя визуализацию изделия, эскизный чертёж с габаритами, информацию по материалам и отделке, срок реализации проекта и другие обязательные пункты.
            .workflow__item
              h3.title.title--h3.workflow__item-title Коммерческое предложение
              span.workflow__item-desc Предпочтительно используем натуральные материалы. Но любую смету можем оптимизировать, упростив материалы или конструктив. Сможем подстроиться под бюджет клиента и согласуем коммерческое предложение
            .workflow__item
              h3.title.title--h3.workflow__item-title Подготовка рабочего проекта
              span.workflow__item-desc Создадим рабочую документацию и чертежи. Это фундамент качественного производства. На этом этапе утверждаем с клиентом все габариты и материалы, чертежи и приступаем к производству.
            .workflow__item
              h3.title.title--h3.workflow__item-title Производство и монтаж
              span.workflow__item-desc Производство занимает от 15 рабочих дней, в зависимости от сложности и объёма. Монтажом тоже занимаемся самостоятельно. Ведь мы это сделаем быстро и аккуратно.
