.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--black-bg {
    background-color: #212529;
    font-size: 16px;
    line-height: 22.4px;
    padding: 10px;
    transition: all $trans-default;
    cursor: pointer;

    &:hover {
      background-color:#DDD7C0;
      color: #212529;
    }

    &:active {
      background-color: #CBC6B2;
      color: #212529;
    }

    &:disabled {
      background-color: #CBC6B2;
      opacity: 50%;
      color: $color-default-white;
    }
  }

  &--app-store,
  &--google-play {
    background-color: transparent;
    padding: 0;
  }
}
