.cta-block {
  padding: 60px 0;

  &__img {
    margin-right: 136px;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .container {
    display: flex;
  }

  &__title {
    margin: 0;
    margin-bottom: 32px;
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 70px;
  }

  &__form {
    @media (max-width: 767px) {
      width: 100%;
    }
    form {
      width: 562px;
      display: flex;
      flex-direction: column;

      @media (max-width: 1439px) {
        width: 100%;
      }

      input {
        border: none;
        border-bottom: 1px solid #212529;
        padding: 10px 0;
        font-size: 16px;
        line-height: 18.75px;
        outline: none;
        transition: all 0.3s ease;
      }

      input:focus {
        border-bottom: 1px solid #DDD7C0;
      }

      input:placeholder {
        color: #212529;
      }

      .btn {
        margin-top: 24px;
        align-self: start;
        margin-bottom: 40px;
      }
    }
  }

  &__download-btn {
    margin-right: 8px;
  }
}
