.footer {
  padding: 40px 0;
  padding-top: 60px;
  padding-bottom: 16px;

  background-color: $color-neon-blue;
  background-color: $color-default-white;

  color: #212529;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }

    .footer__copyright {
      margin-right: 280px;
      font-size: 18px;
      line-height: 21.09px;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    .footer__policy {
      margin-right: auto;
      font-size: 16px;
      line-height: 22.4px;
      min-width: 397px;
    }

    .footer__links {
      font-size: 18px;
      line-height: 21.09px;
      text-transform: uppercase;
      width: 235px;
      display: flex;
      justify-content: space-between;
    }

    .footer__policy,
    .footer__links {
      a {
        text-decoration: none;
        color: black;
        position: relative;
        padding: 5px 0 0;
      }

      a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        /* Линия располагается под текстом */
        width: 100%;
        /* Линия изначально есть, но её не видно из-за scale */
        height: 1px;
        /* Толщина линии */
        background: black;
        /* Цвет линии */
        transform: scaleX(0);
        /* Линия "сжата" */
        transform-origin: right bottom;
        /* Начало трансформации слева */
        transition: transform 0.3s ease-in-out;
      }

      a:hover::after {
        transform: scaleX(1);
        /* Линия "разворачивается" */
        /* Расширяем линию при наведении */
        transform-origin: left bottom;
      }
    }

    .footer__copyright,
    .footer__policy {
      @media (max-width: 767px) {
        margin: 0 auto;
      }
    }
  }
}
