.header {
  padding: 12px 0 40px;

  background-color: $color-neon-blue;
  background-color: $color-default-white;

  .container {
    display: flex;
  }

  &__logo {
    color: $color-default-white;
  }

  
}
