.intro {
  min-height: 1107px;
  display: flex;
  align-items: flex-end;
  position: relative;
  padding-bottom: 60px;

  @media (max-width: 767px) {
    padding-bottom: 24px;
    min-height: unset;
  }

  &__text {
    // position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    width: 794px;
  }

  &__paragraph {
    font-size: 20px;
    line-height: 28px;
    width: 445px;
    flex-basis: 100%;
    // padding-right: 70%;
    margin: 0;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      width: unset;
      font-size: 16px;
      line-height: 22.4px;
    }
  }

  img:first-child {
    margin-top: auto;
  }

  &__images {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__images--left {
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      img {
        display: none;
      }
    }
  }

  &__images--right {
    @media (max-width: 1139px) {
      width: 50%;
    }
    @media (max-width: 767px) {
      img {
        width: 100%;
      }
    }
  }

  &__link {
    // text-decoration: underline;
    font-size: 18px;
    line-height: 21.09px;
    // width: 30%;
    margin-left: auto;
    // flex: 1;
    margin-bottom: 40px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    text-transform: uppercase;
    width: fit-content;
    position: relative;

    @media (max-width: 767px) {
      width: fit-content;
      margin: 0;
      margin-right: auto;
      margin-bottom: 24px;
    }
  }

  &__link.link:hover {
    color: #DDD7C0;
  }
}
