.main-nav {
  width: 445px;
  margin-left: auto;

  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;
    margin: 0;

    list-style: none;
    flex-direction: column;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: $color-default-white;
    color: $color-default-black;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }

  &__item--phone {
    margin-left: auto;
    /* Переместить телефон вправо */
    align-self: flex-start;
    /* Совместить телефон по верхнему краю списка */
  }

  &__wrapper {
    display: flex;
    width: 450px;
    justify-content: space-between;
  }
}
