.projects {
  padding-top: 60px;
  padding-bottom: 60px;

  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fill, 445px);
    gap: 20px;

    @media (max-width: 1439px) {
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }

    @media (max-width: 767px) {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      // width: ;
    }
  }

  .container {
    @media (max-width: 767px) {
      width: auto;
      margin-left: 16px;
      padding: 0;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
    }

    @media (max-width: 767px) {
      width: 70%;
      min-width: 70%;
    }
  }

  &__item:hover {
    .projects__item-label {
      bottom: 0;
    }

    img {
      transform: scale(1.2);
    }
  }

  &__item-label {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 22.4px;
    color: $color-default-white;
    background-color: #212529;
    opacity: 50%;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -100%;
    transition: bottom 0.2s ease;

    svg {
      color: white;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 32px;
  }
}
