.title {
  font-family: "Helvetica";;
  &--h1 {
    font-size: 72px;
    line-height: 86.4px;
    text-transform: uppercase;
    font-weight: 400;
  }

  color: $color-blue-charcoal;

  &--h2 {
    font-size: 48px;
    line-height: 66.24px;
    font-weight: 400;
  }

  &--h3 {
    font-size: 36px;
    line-height: 49.68px;
    font-weight: 400;
  }

  &--h4 {
    font-size: 18px;
    line-height: 24.84px;
  }
}
