mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__copyright
        span © 2023 Aveji
        span Все права защищены
      .footer__policy
        a(href="#" target="_blank" rel="noopener noreferrer") Политика конфеденциальности&nbsp;/
        a(href="#" target="_blank" rel="noopener noreferrer") &nbsp;Оплата и доставка

      .footer__links
        a(href="https://vk.com" target="_blank" rel="noopener noreferrer" class="link") Вконтакте
        a(href="https://telegram.com" target="_blank" rel="noopener noreferrer" class="link") Телеграм
