mixin header(headerMods, currentUrl)
  -
    const navLinks = [
      {
        href: "index.html",
        text: "О нас"
      },
      {
        href: "#",
        text: "Проекты"
      },
      {
        href: "#",
        text: "Материалы"
      },
      {
        href: "#",
        text: "Отзывы"
      },

    ]

  -
    const contactLinks = [
      {
        href: "tel:+79999999999",
        text: "+7 999 999 99 99"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +icon("logo", 70, 75)
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("logo", 70, 75)
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link, index in navLinks
              li.main-nav__item
                if currentUrl === link.href
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
          ul.main-nav__list.main-nav__list--contacts
            each link, index in contactLinks
              li.main-nav__item
                a.main-nav__link(href=link.href)= link.text
